.trash {
    color: rgb(209, 91, 71);
}

.admin-container {
    background: white;
    .list-container {
        text-align: center;
        max-height: 600px;
        section {
            width: 100%;
        }
    }
}

.edit-admin-dialog {
    max-width: 45%;
    .password-input {
        padding-right: 10px;
    }
}
