<div layout="column" class="admin-container" flex>
    <md-content class="list-container">
        <section>
            <md-subheader class="md-primary">
                <div layout="row" flex layout-align='end center'>
                    <div flex='15'><span>الخيارات</span></div>
                    <div flex='25'> <span>Role</span></div>
                    <div flex='25'> <span>Username</span></div>
                    <div flex='25'> <span>الاسم</span></div>
                </div>
            </md-subheader>
            <md-divider></md-divider>
            <md-list>
                <md-list-item ng-repeat="user in users" class="list-item fade">
                    <md-content layout="row" flex layout-align='end center'>
                        <div flex='15'>
                            <md-button class="md-icon-button" aria-label="Setting" ng-click="delete(user)">
                                <md-icon class="s48" md-svg-icon="assets/images/ic_delete_black_48px.svg" aria-label="Remove" class=""></md-icon>
                                <md-tooltip md-direction="top">
                                    حذف
                                </md-tooltip>
                            </md-button>
                            <md-button ng-click="onEdit($event, user)" class="md-icon-button" aria-label="Edit">
                                <md-tooltip md-direction="top">
                                    تعديل
                                </md-tooltip>
                                <md-icon class="s48" aria-label="Edit" md-svg-icon="assets/images/ic_edit_black_48px.svg"></md-icon>
                            </md-button>
                        </div>
                        <div flex='25'>
                            <span class="">{{user.role}}</span>
                        </div>
                        <div flex='25'>
                            <span class="">{{user.username}}</span>
                        </div>
                        <div flex='25'>
                            <strong>{{user.name}}</strong>
                        </div>
                    </md-content>
                    <md-divider md-inset ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </md-content>
</div>
