<md-dialog ng-cloak flex class="edit-admin-dialog">
    <form name="userForm" ng-submit="answer(userForm, user)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/images/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
                <span flex></span>
                <h2>تغيير معلومات المستخدم - {{user.name}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" flex>
                <md-input-container flex>
                    <label>الاسم</label>
                    <input ng-model="user.name" required name="name" tabindex="1" />
                    <div ng-messages="userForm.name.$error">
                        <div ng-message="required">هذه الخانه مطلوبه</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>اسم المستخدم</label>
                    <input ng-model="user.username" required name="username" tabindex="1" />
                    <div ng-messages="userForm.username.$error">
                        <div ng-message="required">هذه الخانه مطلوبه</div>
                    </div>
                </md-input-container>
                <div layout='row' flex ng-init="editPass = false">
                    <md-input-container flex class="password-input">
                        <label>كلمة المرور</label>
                        <input type="password" ng-disabled="!editPass" ng-model="user.password" name="password" tabindex="1" />
                    </md-input-container>
                    <md-switch ng-model="editPass" aria-label="edit password">
                        Edit
                    </md-switch>
                </div>
                <md-select ng-model="user.role">
                    <md-option ng-repeat="role in userRoles" value="{{role}}">
                        {{role}}
                    </md-option>
                </md-select>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                الغاء
            </md-button>
            <md-button type='submit' style="margin-right:20px;" class="md-primary">
                حفظ
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
