<div class="settings-container" layout="column" layout-padding>
    <div layout="row">
        <div flex></div>
        <md-card flex="45">
            <md-card-title>
                <div flex></div>
                <h2 class="md-display-1">معلومات المستخدم</h2>
                <div flex></div>
            </md-card-title>
            <md-card-content>
                <div>
                    <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
                        <div layout="column">
                            <md-input-container>
                                <label>كلمة المرور الحالية</label>
                                <input type="password" name="password" ng-model="user.oldPassword" mongoose-error/>
                                <div ng-messages="form.password.$error">
                                    <div ng-message="mongoose">{{ errors.other }}</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>كلمة المرور الجديده</label>
                                <input type="password" ng-model="user.newPassword" name="newPassword" required>
                                <div ng-messages="form.newPassword.$error">
                                    <div ng-message="required">الرجاء ادخال كلمة المرور</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="md-actions" layout="row|column" layout-align="end end">
                            <md-button class="md-primary" type="submit">Save changes</md-button>
                        </div>
                    </form>
                </div>
            </md-card-content>
        </md-card>
        <div flex></div>
    </div>
</div>
