.cloth-grid-item,
.cloth-grid-item span {
    text-align: center;
    &:focus,
    md-content:focus {
        outline: none;
        border: 0;
    }
    md-content {
        background: transparent;
        background-color: transparent;
    }
    &.cloth-item-selected {
        background-color: #F5F5F5;
    }
    &.cloth-item-selected.purchase-form-shown {
        background-color: #EEEEEE;
    }
}

.animate {
    transition: all 0.2s;
}

// .cloth-grid-item button.md-no-style.md-button {
//     padding: 0px;
//     overflow: visible;
// }
// .cloth-visible-ovreflow {
//     overflow: visible;
// }
.clothes-container {
    .clothes-list-container {
        max-height: 500px;
    }
}
