<div ng-cloak class="clothes-container fade" id="clothsContainer">
    <md-content ng-init="">
        <md-tabs md-selected="selectedIndex" class="md-accent arabic-text" md-dynamic-height md-border-bottom>
            <md-tab label="اضافة قماش" ng-if="isAdmin()" class="fade">
                <md-content class="">
                    <ng-cloth-form on-update="update()" ng-model="editClothModel" ng-selected="selectedIndex == 0"></ng-cloth-form>
                </md-content>
            </md-tab>
            <md-tab label="بحث" md-on-select="">
                <div layout="column" flex layout-fill>
                    <ng-search-units unit="unit" search-value="searchValue"></ng-search-units>
                    <md-content class="list-container" flex full-height>
                        <section>
                            <md-subheader class="md-primary">
                                <div layout="row" layout-align="end center" class="cloth-grid-item">
                                    <span ng-if="isAdmin()" flex='10'><b>خيارات</b></span>
                                    <span flex='15'><b>الطول المتبقي</b></span>
                                    <span flex='20'><b>الطاقات المتبقية</b></span>
                                    <span flex='20'><b>النوع</b></span>
                                    <span flex='20'><b>الاسم</b></span>
                                    <span flex='10'><b>No.</b></span>
                                </div>
                            </md-subheader>
                            <md-list>
                                <md-divider></md-divider>
                                <md-list-item ng-repeat="cloth in cloths | orderBy:'_id' | filter:searchValue" class="cloth-grid-item" ng-init="cloth.selected = false; cloth.showPurchase = false;" ng-click="selectItem(cloth)" ng-class="{'cloth-item-selected': cloth.selected, 'purchase-form-shown': cloth.showPurchase}">
                                    <md-content layout="column" flex class="cloth-visible-ovreflow" class="cloth-visible-ovreflow">
                                        <ng-cloth-list-item cloth="cloth" show-edit="isAdmin()" on-edit="editCloth(cloth)" on-remove="removeCloth($event, cloth, $index)" unit="unit" on-update="update()"></ng-cloth-list-item>
                                    </md-content>
                                    <md-divider md-inset ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </section>
                    </md-content>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
