<div class="login-container" layout="column" layout-padding>
    <div layout="row" layout-padding>
        <div flex></div>
        <md-card flex="45">
            <md-card-title>
                <div flex></div>
                <h2 class="md-display-1">تسجيل الدخول</h2>
                <div flex></div>
            </md-card-title>
            <md-card-content>
                <p>Accounts are reset on server restart from <code>server/config/seed.js</code>.</p>
                <p> Default account is <code>test</code> / <code>test</code></p>
                <p>Admin account is <code>admin</code> / <code>admin</code></p>
                <div>
                    <form class="form" name="form" ng-submit="login(form)" novalidate>
                        <div layout="column">
                            <md-input-container>
                                <label>Username</label>
                                <input type="text" ng-model="user.username" name="username" ng-change="onChange(form)" required>
                                <div ng-messages="form.username.$error">
                                    <div ng-message="required">الرجاء ادخال اسم المستخدم</div>
                                    <div ng-message="registered">اسم المستخدم غير صحيح</div>
                                </div>
                                
                            </md-input-container>
                            <md-input-container>
                                <label>Password</label>
                                <input type="password" ng-model="user.password" ng-change="onChange(form)" name="password" required>
                                <div ng-messages="form.password.$error">
                                    <div ng-message="required">الرجاء ادخال كلمة المرور</div>
                                    <div ng-message="correct">كلمة المرور غير صحيحه</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="md-actions" layout="row|column" layout-align="end end">
                            <md-button href="/signup">التسجيل</md-button>
                            <md-button class="md-primary" type="submit">تسجيل الدخول</md-button>
                        </div>
                        
                    </form>
                </div>
            </md-card-content>
        </md-card>
        <div flex></div>
    </div>
</div>
