// Colors
// --------------------------------------------------
@btnText: #fff;
@btnTextAlt: #000;
.login-container {
    md-card {
        md-card-title {
            h2 {
                text-align: center;
            }
        }
        md-card-content {}
    }
}
