.dealer-form-container{
	// padding: 20px;
 //    align-items: flex-end;
}

.animate-d.ng-animate {
  transition:0.5s linear all;
}

.animate-d.ng-enter, 
.animate-d.ng-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-d.ng-enter.ng-enter-active, 
.animate-d.ng-leave {
    opacity: 1;
}

.animate-d.ng-leave.ng-leave-active,
.animate-d.ng-enter {
    opacity: 0;
}
