<div class="" layout="column" ng-cloak>
    <md-content flex class="">
        <form name="dealerForm" novalidate>
            <div layout="row" flex layout-align="end centre" layout-padding>
                <md-input-container flex>
                    <label>رقم التلفون</label>
                    <input ng-model="ngModel.telephone" placeholder="+966" ng-pattern="/^966[\d]{9}$|^[+]966[\d]{9}$|^05[\d]{8}$|^[1-9]{7}$|^0[1-9]{9}$/" md-maxlength="13" name="telephone" tabindex="2" />
                    <div ng-messages="dealerForm.telephone.$error">
                        <div ng-message="maxlength">الرقم غير صحيح</div>
                        <div ng-message="required">هذه الخانه مطلوبة</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>المورد</label>
                    <input ng-model="ngModel.name" required name="name" tabindex="1" autofocus/>
                    <div ng-messages="dealerForm.name.$error">
                        <div ng-message="required">هذه الخانه مطلوبه</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-padding layout-align="end centre">
                <md-input-container class="md-block" flex>
                    <label>ملاحظات</label>
                    <textarea ng-model="ngModel.notes" columns="1" md-maxlength="150" rows="5" tabindex="4"></textarea>
                </md-input-container>
                <md-input-container flex>
                    <label>العنوان</label>
                    <input ng-model="ngModel.address" tabindex="3">
                </md-input-container>
            </div>
            <div class="dealer-form-container" layout="column" layout-padding>
                <md-subheader class="md-primary">مندوبين الشركه</md-subheader>
                <div layout='row' layout-align="end center" layout-sm="column" class="arabic-text dealer-form-contacts animate" ng-repeat="contact in ngModel.contacts track by $index" layout-padding>
                    <md-input-container flex>
                        <label>رقم التلفون</label>
                        <input ng-model="contact.telephone" placeholder="+966" ng-pattern="/966[\d]{9}|[+]966[\d]{9}|05[\d]{8}|[1-9]{7}|0[1-9]{9}/" md-maxlength="13" tabindex="{{6+$index}}">
                        <div ng-messages="dealerForm.telephone.$error">
                            <div ng-message="required">هذه الخانه مطلوبة</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>الاسم</label>
                        <input ng-model="contact.name" tabindex="{{5+$index}}">
                    </md-input-container>
                    <md-button class="md-icon-button" aria-label="Remove" ng-click="removeContact($index)">
                        <md-tooltip md-direction="right">
                            حذف
                        </md-tooltip>
                        <md-icon md-svg-src="assets/images/ic_remove_circle_black_48px.svg" class="s48" aria-label="Remove"></md-icon>
                    </md-button>
                </div>
                <md-content layout='row' layout-align="end center">
                    <md-button class="md-fab md-primary" ng-click="addnewContact()" aria-label="اضافة مندوب">
                        <md-tooltip md-direction="left">
                            اضافة مندوب
                        </md-tooltip>
                        +
                    </md-button>
                </md-content>
            </div>
            <md-divider md-inset></md-divider>
            <md-content layout-padding layout="row" layout-align="start center">
                <md-button type="submit" class="md-raised md-primary md-hue-2" ng-click="saveModel(ngModel)">حفظ</md-button>
            </md-content>
        </form>
    </md-content>
</div>
