@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';
@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.my-container {
    border-radius: 4px;
    margin: 15px;
    transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
    padding-bottom: 0px;
}

.my-container md-toolbar {
    border-radius: 4px 4px 0px 0px;
}

.selected-item {
    background-color: #F5F5F5;
}

.arabic-text,
.arabic-text .md-input,
.arabic-text label,
.arabic-text md-autocomplete input,
.arabic-text md-item-template {
    text-align: right;
}

// .arabic-text md-list{
//  float: right;
// }
.arabic-text md-pagination-wrapper {
    right: 0;
    left: auto;
}

md-tab-item {
    span{
        color: rgba(0,0,0,0.54) !important
    }

}

.arabic-text .md-input-focused label,
.arabic-text .md-input-has-value label {
    left: 25%;
}

md-input-container label {
    
        right: 8px !important;
    
}

.centre-text {
    text-align: center;
    top: 50%;
}

.thick-text {
    font-weight: bold;
}

.fade {
    transition: 1s linear all;
    -webkit-transition: 1s linear all;
    opacity: 1;
}

.fade.ng-enter {
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    opacity: 1;
}

.fade.ng-leave.ng-leave-active {
    opacity: 0;
}

.list-container {
    max-height: 450px
}


/*
animation:*/

.slideDown.ng-hide {
    height: 0;
    transition: height 0.35s ease;
    overflow: hidden;
    position: relative;
}

.slideDown {
    height: 141px;
    transition: height 0.35s ease;
    overflow: hidden;
    position: relative;
}

.slideDown.ng-hide-remove,
.slideDown.ng-hide-add {
    /* remember, the .hg-hide class is added to element
  when the active class is added causing it to appear
  as hidden. Therefore set the styling to display=block
  so that the hide animation is visible */
    display: block!important;
}

.slideDown.ng-hide-add {
    animation-name: hide;
    -webkit-animation-name: hide;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
}

.slideDown.ng-hide-remove {
    animation-name: show;
    -webkit-animation-name: show;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'cloth/cloth.less';
@import 'cloth/ngClothForm/ngClothForm.less';
@import 'cloth/ngClothListItem/ngClothListItem.less';
@import 'cloth/ngClothPurchaseForm/ngClothPurchaseForm.less';
@import 'clothorder/clothorder.less';
@import 'clothorder/ngClothOrderForm/ngClothOrderForm.less';
@import 'clothorder/ngClothorderRecord/ngClothorderRecord.less';
@import 'dealer/dealer.less';
@import 'dealer/dealerForm/dealerForm.less';
@import 'dealer/ngDealerListItem/ngDealerListItem.less';
@import 'main/main.less';
@import 'modal/modal.less';
@import 'navbar/navbar.less';
@import 'ngSearchUnits/ngSearchUnits.less';
// endinjector
