<div layout="row" ng-controller="NavbarCtrl" class="navbar-container">
    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm ng-click="toggleSideNav()" aria-label="Show Menu">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <div layout="row" layout-align="center center">
                <div>
                    <md-button ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}" ng-click="navigate('login')">
                        تسجيل الدخول
                    </md-button>
                    <md-button ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}" ng-click="logout()">
                        تسجيل الخروج
                    </md-button>
                    <md-button ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}" ng-click="navigate('signup')">
                        التسجيل
                    </md-button>
                </div>
            </div>
            <h1 class="column">{{currentTabTitle}}</h1>
        </md-toolbar>
        <md-content id="content" flex layout="column">
            <div flex layout="column" class="" ui-view></div>
        </md-content>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar class="md-padding md-hue-2">
            <div flex>
                <div ng-show="isLoggedIn()">
                    <md-button ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}" class="md-icon-button" aria-label="Setting" ng-click="navigate('settings')">
                        <md-icon md-svg-icon="assets/images/ic_settings_white_24px.svg"></md-icon>
                    </md-button>
                    <p class="navbar-text">مرحبا {{ getCurrentUser().name }} </p>
                </div>
            </div>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item ng-repeat="item in menu" ng-click="selectTab(item)" ng-class="{selected: item.active }" ng-if="item.isRole()" flex>
                    <div layout="row" layout-align="end center" flex="grow" class="">
                        <span flex="grow" class="md-title md-primary">{{item.title}}</span>
                        <md-icon class="s48 md-primary" ng-class="{ 'md-hue-2' : item.active, 'md-hue-1': !item.active }" md-svg-src="assets/images/{{item.icon}}"></md-icon>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</div>