<div class="main-container" layout="column" layout-padding>
    <div layout="row">
        <div flex></div>
        <md-card flex="60">
            <md-card-title>
                <div flex></div>
                <h3 class="md-display-1">
           مرحبا بك في نظام ادارة الاقمشة
        </h3>
                <div flex></div>
            </md-card-title>
            <md-card-content layout="column" flex>
                <div flex class="card-image">
                    <div flex></div>
                    <img src="assets/images/home_tailor.jpg">
                    <div flex></div>
                </div>
                <span class="md-subhead" ng-if="isAdmin">
                    يمكنك اضافة مدخلات جديده والتعديل على المدخلات الموجوده و التحكم في المستخدمين</span>
                <span ng-if="!isAdmin" class="md-subhead">يمكنك الاطلاع على الموزعين والقماش، كذلك اضافة فواتير بيع القماش</span>
            </md-card-content>
        </md-card>
        <div flex></div>
    </div>
</div>