<md-content class="clothorder-record">
    <section>
        <ng-search-units unit="unit" search-value="searchValue"></ng-search-units>
    </section>
    <md-content full-height>
        <section>
            <md-subheader class="md-primary">
                <div layout="row" layout-align="end center" class="centre-text">
                    <span flex='25'><b>المبلغ</b></span>
                    <span flex='25'><b>التاريخ</b></span>
                    <span flex='25'><b>Ref No.</b></span>
                    <span flex='25'><b>No.</b></span>
                </div>
            </md-subheader>
            <md-list>
                <md-list-item class="centre-text" ng-click="" ng-repeat="clothorder in clothorders | filter:searchValue">
                    <span flex='25'>{{clothorder.paid}}</span>
                    <span flex='25'>{{clothorder.date | date}}</span>
                    <span flex='25'>{{clothorder.refNo}}</span>
                    <span flex='25'>{{clothorder._id}}</span>
                </md-list-item>
            </md-list>
        </section>
    </md-content>
</md-content>
