<md-content ng-cloak id="clothsContainer" layout="column" flex ng-init="selectedIndex = 1">
    <md-tabs md-selected="selectedIndex" class="md-accent arabic-text" md-dynamic-height md-border-bottom>
        <md-tab label="سجل البيع">
            <ng-clothorder-record clothorders="clothorders"></ng-clothorder-record>
        </md-tab>
        <md-tab label="اضافة طلب" md-on-select="">
            <md-content layout="column" flex>
                <ng-cloth-order-form class="" ng-model="clothOrder" on-save="onSave()" ng-selected="selectedIndex == 1">
                </ng-cloth-order-form>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
