<md-dialog aria-label="" ng-cloak>
    <form>
        <md-content class="cloth-purchase-container md-whiteframe-9dp" ng-click="$event.stopPropagation();">
            <md-toolbar class="md-hue-1">
                <div class="md-toolbar-tools">
                    <md-button aria-label="Go Back" ng-click="onBack()">
                        Go Back
                    </md-button>
                    <span flex></span>
                    <span class="md-title">اضافة قماش</span>
                </div>
            </md-toolbar>
            <md-content class="cloth-purchase-inputs" layout="row" layout-padding layout-align="end centre">
                <md-datepicker flex="none" class="md-padding cloth-purchase-date" ng-model="model.dateOfPurchase" tabindex="3" md-placeholder="تاريخ الشراء"></md-datepicker>
                <md-input-container flex="none">
                    <label>سعر الطاقة</label>
                    <input ng-model="model.price" tabindex="2" type="number">
                </md-input-container>
                <md-input-container flex="none">
                    <label>عدد الطاقات</label>
                    <input ng-model="model.purchaseCount" tabindex="1" type="number">
                </md-input-container>
            </md-content>
            <md-content layout="row" layout-padding layout-align="start centre">
                <md-button tabindex="4" ng-click="onSave($event, model)" class="md-raised md-accent md-hue-3" aria-label="Edit">
                    حفظ
                </md-button>
            </md-content>
            <md-content class="list-container" ng-if="ngModel.rollsPurchase.length>0">
                <section>
                    <md-subheader class="md-primary">
                        <div layout="row" layout-align="space-around center">
                            <span><b>السعر</b></span>
                            <span><b>التاريخ</b></span>
                            <span><b>عدد الشراء</b></span>
                            <span><b>العدد المتوفر</b></span>
                        </div>
                    </md-subheader>
                    <md-list flex>
                        <md-list-item ng-repeat="roll in ngModel.rollsPurchase">
                            <span flex>{{roll.price}}</span>
                            <span flex>{{roll.dateOfPurchase | date}}</span>
                            <span flex>{{roll.purchaseCount}}</span>
                            <span flex>{{roll.availableCount}}</span>
                            <md-divider md-inset ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </section>
            </md-content>
        </md-content>
    </form>
</md-dialog>
