.cloth-purchase-container {
    // border-radius: 3px;
    // background-color: white !important;
    //    position: absolute;
    //    z-index: 4;
    //    top: 0;
    //    cursor: default;
    //    margin-bottom: 20px;
    // .ng-hide-add {
    //     -webkit-animation: 0.5s hide-scale;
    //     animation: 0.5s hide-scale;
    // }
    // .ng-hide-remove {
    //     -webkit-animation: 0.3s show-scale;
    //     animation: 0.3s show-scale;
    // }
    md-input-container {
        margin-bottom: 0px;
    }
    .cloth-purchase-date {
        margin: 0px;
    }
    .cloth-purchase-inputs {
        padding-bottom: 0px;
    }
    .list-container {
        max-height: 200px;
    }
    // @keyframes hide-scale {
    //     0% {
    //         opacity: 1;
    //         transform: scale(1);
    //     }
    //     30% {
    //         transform: scale(1.02);
    //     }
    //     100% {
    //         opacity: 0;
    //         transform: scale(0.2);
    //     }
    // }
    // @-webkit-keyframes hide-scale {
    //     0% {
    //         opacity: 1;
    //         transform: scale(1);
    //     }
    //     30% {
    //         transform: scale(1.02);
    //     }
    //     100% {
    //         opacity: 0;
    //         transform: scale(0.2);
    //     }
    // }
    // @keyframes show-scale {
    //     0% {
    //         opacity: 0;
    //         transform: scaleY(0.2);
    //     }
    //     70% {
    //         transform: scaleY(1.5);
    //     }
    //     100% {
    //         opacity: 1;
    //         transform: scaleY(1);
    //     }
    // }
    // @-webkit-keyframes show-scale {
    //     0% {
    //         opacity: 0;
    //         transform: scaleY(0.2);
    //     }
    //     70% {
    //         transform: scaleY(1.5);
    //     }
    //     100% {
    //         opacity: 1;
    //         transform: scaleY(1);
    //     }
    // }
}
