<div ng-cloak class="dealer-container">
    <md-content>
        <md-tabs md-selected="selectedIndex" class="md-accent arabic-text" md-dynamic-height md-border-bottom>
            <md-tab label="اضافة موزع" ng-if="isAdmin()" class="md-primary">
                <md-content>
                    <ng-dealer-form ng-model="dealer" on-save="onSave(model)" on-update="updateDealers()" ng-is-edit="isEditDealer"></ng-dealer-form>
                </md-content>
            </md-tab>
            <md-tab label="بحث" ng-selected="isEditDealer">
                <div layout="row" class="md-padding">
                    <md-input-container flex>
                        <label>بحث</label>
                        <input ng-model="searchValue">
                    </md-input-container>
                </div>
                <md-content class="list-container" full-height>
                    <section>
                        <md-subheader class="md-primary">
                            <div layout="row" flex class="list-header" layout-align="end end">
                                <span flex ng-if="isAdmin()"><b>خيارات</b></span>
                                <span flex='20'><b>ملاحظات</b></span>
                                <span flex='20'><b>العنوان</b></span>
                                <span flex='20'><b>التلفون</b></span>
                                <span flex='20'><b>الاسم</b></span>
                                <span flex='10'><b>ID</b></span>
                            </div>
                        </md-subheader>
                        <md-list class="dealers-list arabic-text" ng-cloak>
                            <md-divider></md-divider>
                            <md-list-item class="fade" ng-repeat="mDealer in dealers | filter:searchValue | orderBy: 'name' " ng-click="toggleSelect(mDealer)" ng-class="{'selected-item': mDealer.selected}" ng-disabled="!mDealer.contacts.length>0">
                                <ng-dealer-list-item flex m-dealer="mDealer" on-edit="editDealer(mDealer)" on-remove="removeDealer($event, mDealer, $index)" show-edit="isAdmin()"></ng-dealer-list-item>
                                <md-divider md-inset ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </section>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
