<md-content flex class="dealer-item-container">
    <div layout-align="end center" layout="row">
        <div layout='row' flex class="" ng-if="showEdit">
            <md-button ng-click="onEdit()" class="md-icon-button" aria-label="Edit">
                <md-tooltip md-direction="top">
                    تعديل
                </md-tooltip>
                <md-icon md-svg-icon="assets/images/ic_edit_black_48px.svg"></md-icon>
            </md-button>
            <md-button ng-click="onRemove()" class="md-icon-button" aria-label="Delete">
                <md-tooltip md-direction="top">
                    حذف
                </md-tooltip>
                <md-icon md-svg-icon="assets/images/ic_delete_black_48px.svg"></md-icon>
            </md-button>
        </div>
        <span flex='20'>{{mDealer.notes}}</span>
        <span flex='20'>{{mDealer.address}}</span>
        <span flex='20'>{{mDealer.telephone}}</span>
        <span flex='20'>{{mDealer.name}}</span>
        <span flex='10'>{{mDealer._id}}</span>
    </div>
    <div ng-show="mDealer.selected" layout="row" flex="grow" layout-align="end center">
        <md-content layout="column" flex="33" class="md-whiteframe-4dp">
            <section>
                <md-subheader class="md-primary">
                    <div layout="row" flex class="list-header" layout-align="end end">
                        <span flex="50"><b>الرقم</b></span>
                        <span flex="50"><b>الاسم</b></span>
                    </div>
                </md-subheader>
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="contact in mDealer.contacts">
                        <div layout="row" flex layout-align="end end">
                            <span flex="50"><b>{{contact.telephone}}</b></span>
                            <span flex="50"><b>{{contact.name}}</b></span>
                        </div>
                    </md-list-item>
                </md-list>
            </section>
        </md-content>
    </div>
</md-content>
