<div class="">
    <div class="row">
        <div class="col-sm-12">
            <h1>Sign up</h1>
        </div>
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="register(form)" novalidate>
                <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" ng-model="user.name" required/>
                    <p class="help-block" ng-show="form.name.$error.required && submitted">
                        A name is required
                    </p>
                </div>
                <div class="form-group" ng-class="{ 'has-success': form.username.$valid && submitted,
                                            'has-error': form.username.$invalid && submitted }">
                    <label>Email</label>
                    <input type="username" name="username" class="form-control" ng-model="user.username" required mongoose-error/>
                    <p class="help-block" ng-show="form.username.$error.username && submitted">
                        Doesn't look like a valid username.
                    </p>
                    <p class="help-block" ng-show="form.username.$error.required && submitted">
                        What's your username address?
                    </p>
                    <p class="help-block" ng-show="form.username.$error.mongoose">
                        {{ errors.username }}
                    </p>
                </div>
                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="3" required mongoose-error/>
                    <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                        Password must be at least 3 characters.
                    </p>
                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.password }}
                    </p>
                </div>
                <div>
                    <button class="btn btn-inverse btn-lg btn-login" type="submit">
                        Sign up
                    </button>
                    <a class="btn btn-default btn-lg btn-register" href="/login"
>
            Login
          </a>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>
