<div class="signup-container" layout="row" layout-padding>
    <div flex></div>
    <md-card flex="45">
        <md-card-title>
            <div flex></div>
            <h2 class="md-display-1">التسجيل</h2>
            <div flex></div>
        </md-card-title>
        <md-card-content>
            <div>
                <form class="form" name="form" ng-submit="register(form)" novalidate>
                    <div layout="column">
                        <md-input-container>
                            <label>الاسم</label>
                            <input type="text" ng-model="user.name" name="name" required>
                            <div ng-messages="form.name.$error">
                                <div ng-message="required">الرجاء ادخال الاسم</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Username</label>
                            <input type="text" ng-model="user.username" name="username" required>
                            <div ng-messages="form.username.$error">
                                <div ng-message="required">الرجاء ادخال اسم المستخدم</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input type="text" ng-model="user.password" name="password" required>
                            <div ng-messages="form.password.$error">
                                <div ng-message="required">الرجاء ادخال كلمة المرور</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="md-actions" layout="row|column" layout-align="end end">
                        <md-button href="/login">تسجيل الدخول</md-button>
                        <md-button class="md-primary" type="submit">التسجيل</md-button>
                    </div>
                </form>
            </div>
        </md-card-content>
    </md-card>
    <div flex></div>
</div>
