.cloth-list-item {
    .extra-info {
        p {
            margin-right: 20px;
        }
    }
    .action-container {
        z-index: 3;
    }
}

.cloth-purchase {
    section {
        text-align: center;
    }
}

.cloth-purchase-container {
    cursor: default;
}

.slideDown {
    height: 80px;
    transition: height 0.35s ease;
    overflow: hidden;
    position: relative;
}
