<md-content layout="column" flex class="cloth-visible-ovreflow cloth-list-item">
    <md-content layout="row" flex layout-align="end center" class="">
        <div flex="initial" ng-if="showEdit">
            <md-button ng-click="onEdit()" class="md-icon-button" aria-label="Edit">
                <md-tooltip md-direction="top">
                    تعديل
                </md-tooltip>
                <md-icon md-svg-icon="assets/images/ic_edit_black_48px.svg"></md-icon>
            </md-button>
            <md-button ng-click="onRemove()" class="md-icon-button" aria-label="Delete">
                <md-icon md-svg-icon="assets/images/ic_delete_black_48px.svg"></md-icon>
                <md-tooltip md-direction="top">
                    حذف
                </md-tooltip>
            </md-button>
        </div>
        <span flex='15' ng-class="{'thick-text' : cloth.selected}">{{cloth.totalLength | unitConverterFilter:'m':unit | number:3}}</span>
        <span flex='20' ng-class="{'thick-text' : cloth.selected}">{{cloth.rollsCount | number : 3}}</span>
        <span flex='20' ng-class="{'thick-text' : cloth.selected}">{{cloth.type}}</span>
        <span flex='20' ng-class="{'thick-text' : cloth.selected}">{{cloth.name}}</span>
        <span flex='10' ng-class="{'thick-text' : cloth.selected}">{{cloth._id}}</span>
    </md-content>
    <div ng-hide="!cloth.selected" class="slideDown cloth-visible-ovreflow cloth-item-selected-content">
        <md-content layout="row" class="cloth-visible-ovreflow" flex layout-align="start center">
            <div layout="column" flex class="action-container" ng-if="showEdit">
                <md-button ng-click="showDialog($event); $event.stopPropagation();" class="md-primary md-hue-2">اضافة قماش</md-button>
            </div>
            <md-content class="extra-info" layout="row" flex="grow" layout-align="end center">
                <span class="md-body-2"><b>{{cloth.color}}</b></span>
                <p class="md-caption md-padding"> :اللون</p>
                <span class="md-body-2" md-padding><b>{{cloth.make}}</b></span>
                <p class="md-caption md-padding"> :الصنع</p>
            </md-content>
        </md-content>
    </div>
</md-content>
