<md-dialog aria-label="" ng-cloak class="cloth-purchase">
    <form name="purchaseFrom">
        <md-content class="cloth-purchase-container" ng-click="$event.stopPropagation();">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button aria-label="Go Back" ng-click="cancel()">
                        Go Back
                    </md-button>
                    <span flex></span>
                    <span class="md-title">اضافة قماش</span>
                </div>
            </md-toolbar>
            <md-content class="cloth-purchase-inputs" layout="row" layout-padding layout-align="end centre">
                <div layout="row" flex>
                </div>
                <div layout="row" flex='grow'>
                    <md-input-container flex>
                        <label>طول الطاقه</label>
                        <input ng-model="model.unitLength" tabindex="3" type="number">
                    </md-input-container>
                    <md-input-container flex>
                        <label>سعر الطاقة</label>
                        <input ng-model="model.price" tabindex="2" type="number">
                    </md-input-container>
                    <md-input-container flex>
                        <label>عدد الطاقات</label>
                        <input name="purchaseCount" ng-model="model.purchaseCount" tabindex="1" type="number" required>
                        <div ng-messages="purchaseFrom.purchaseCount.$error">
                            <div ng-message="required">هذه الخانه مطلوبه</div>
                        </div>
                    </md-input-container>
                </div>
            </md-content>
            <md-content layout="row" layout-padding layout-align="space-between centre">
                <md-button tabindex="4" type="submit" ng-click="answer(purchaseFrom, model)" class="md-raised md-accent md-hue-2" aria-label="Save">
                    حفظ
                </md-button>
                <md-datepicker class="md-padding cloth-purchase-date" ng-model="model.dateOfPurchase" tabindex="3" md-placeholder="تاريخ الشراء"></md-datepicker>
            </md-content>
            <md-content class="list-container" ng-if="ngModel.rollsPurchase.length>0">
                <section>
                    <md-subheader class="md-primary" style="text-align: center;">
                        <div layout="row">
                            <span flex><b>السعر</b></span>
                            <span flex><b>التاريخ</b></span>
                            <span flex><b>عدد الشراء</b></span>
                            <span flex><b>العدد المتوفر</b></span>
                        </div>
                    </md-subheader>
                    <md-list flex>
                        <md-list-item ng-repeat="roll in ngModel.rollsPurchase">
                            <span flex>{{roll.price}}</span>
                            <span flex>{{roll.dateOfPurchase | date}}</span>
                            <span flex>{{roll.purchaseCount}}</span>
                            <span flex>{{roll.availableCount}}</span>
                            <md-divider md-inset ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </section>
            </md-content>
        </md-content>
    </form>
</md-dialog>
